# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
landing-page/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
landing-page/.hugo_build.lock
landing-page/resources/_gen/assets/ananke/css/main.css_9d7c906d8fe82fddbbd923faebb24419.content
landing-page/resources/_gen/assets/ananke/css/main.css_9d7c906d8fe82fddbbd923faebb24419.json
